@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* GLOBAL */ 
html {
	font-size: 62.5%;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	font-family: 'Zen Maru Gothic', sans-serif;
}

/* HEADER */
h1 {
	font-weight: bold;
	font-size: 3em;
}

/* MAIN */
main img {
	max-width: 20em;
	position: relative;
	margin: auto;
	padding: auto;
}

input {
	display: block;
	width: 250px;
	float: right;
	border: rgb(26, 40, 68) solid 1.3px;
	border-radius: 3px;
}

a {
	font-size: 1.3em;
	margin-left: 250px;
	text-decoration: none;
	color: rgb(26, 40, 68);
}

a:hover {
	font-weight: bold;
}

p {
	font-size: 1.4em;
}


/* FOOTER */
footer, .footer {
	color: rgb(26, 40, 68);
	font-size: 1em;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}


/* CLASS */
.logo_ajc {
	margin: auto;
	padding: 80px; 
}

.container {
	display: inline-block;
	width: 400px;
	margin: auto;
	padding: auto;
}

/* ID */
#btn_connexion {
	margin-top: 50px;
	width: 380px;
	color: white;
	background: rgb(26, 40, 68);
	border: rgb(26, 40, 68) solid 1.5px;
	padding: 15px;
	font-size: 1em;
}

#btn_connexion:hover {
	margin-top: 50px;
	width: 380px;
	color: rgb(26, 40, 68);
	background: white;
	border: rgb(26, 40, 68) solid 1.5px;
	padding: 15px;
	font-size: 1em;
}