@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* GLOBAL */ 
html {
	font-size: 62.5%;
	max-width: 100%;
	text-align: center;
	font-family: 'Zen Maru Gothic', sans-serif;
}

/* MAIN */
h1 {
	font-weight: bold;
	font-size: 3em;
}

h2 {
	color: green;
}

h3 {
	color: red;
}

img {
	max-width: 20em;
	position: relative;
	margin: auto;
	padding: auto;
}

input {
	display: block;
	width: 250px;
	float: right;
}

p {
	font-size: 1.4em;
	font-weight: bold;
}

/* CLASS */
.logo_ajc {
	margin: auto;
	padding: 20px; 
}

.container {
	display: inline-block;
	width: 400px;
	margin: auto;
	padding: auto;
}

/* ID */
#btn_mdp {
	margin-top: 50px;
	width: 380px;
	color: white;
	background: rgb(26, 40, 68);
	border: black solid 1px;
	padding: 15px;
}

#btn_mdp:hover {
	margin-top: 50px;
	width: 380px;
	color: rgb(26, 40, 68);
	background: white;
	border: black solid 1px;
	padding: 15px;
	font-weight: bold;
}