@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* GLOBAL */ 
html {
	font-size: 62.5%;
	max-width: 100%;
	font-family: 'Zen Maru Gothic', sans-serif;
}



/* HEADER */

/* MAIN */

/* FOOTER */

/* CLASS */

/* ID */